#background-video {
height: 100%;
width: 100%;
float: left;
top: 0;
padding: none;
position: fixed;
opacity: 0.9;
z-index: -1;
}

.center {
  text-align: center;
  opacity: 1;
}

.home-font {
  font-size: 1.5em;
}

.white {
  color: white;
}

.filler {
  height: 200px;
}

.filler-mini {
  height: 50px;
}

.link {
  text-decoration: underline;
  color: white;
}

.padded {
  margin: 10px 10px;
}

.buttonblock {
  display: inline-block;
  width: 100%;
}

.padding-bottom {
  padding-bottom: 200px;
}

.blue {
  color: blue;
}

.tiny-padding-top {
  padding-top: 10px;
}
